# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
pandas==2.0.2
pre-commit==3.3.3
jupyterlab==4.0.2
ipykernel==6.23.3
pyarrow==12.0.1
matplotlib==3.7.1
scikit-learn==1.2.2
imbalanced-learn==0.10.1
streamlit==1.24.1